<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);">
  <div class="container">
    <h1>Create your Movies Watch List! </h1>
    <%= link_to "New list", new_list_path, class: "btn-primary" %>
    <%# <a class="btn btn-flat" href="#">New List</a> %>
  </div>
</div>
