
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

* {
  font-family: 'Lato','Helvetica Neue', Arial, sans-serif;
}

.bg {
  background: #3a3a3a;
  width: 100vw;
  height: 100vh;
}

.title {
  color: rgba(#fff, 0.85);
  font-family: 'Raleway','Lato','Helvetica Neue', Arial, sans-serif;
  font-size: 10vw;
  font-weight: 800;
  text-align: center;
  text-shadow: 0 1px 9px rgba(#000, 0.8);
  margin: auto;
  margin-top: 0;
  padding-top: 7vh;
}

.blog-card {
  display: block;
  position: relative;
  top: 7vw;
  width: 400px;
  height: 250px;
  margin: auto;
  overflow: hidden;
  .blog-img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
    overflow: hidden;
  }
  &:hover {
    .text-overlay {
      background: rgba(#fff, 0.8);
      height: 50%;
      top: 50%;
      transition: all 450ms ease-in-out 0s;
    }
    p {
      height: 60px;
      transition: all 350ms ease-in-out 0s;
      a {
        visibility: visible;
      }
    }
  }
}

.text-overlay {
  position: relative;
  background: rgba(#fff, 0.6);
  width: 100%;
  height: 40%;
  top: 60%;
  box-shadow: 0 -2px 12px rgba(#000, 0.3);
  padding: 10px 12px;
  overflow: hidden;
  transition: all 450ms ease-in-out 0s;
  cursor: pointer;
  h2 {
    color: rgba(#000, 0.85);
    letter-spacing: 0.0225em;
    width: auto;
    margin: 0;
  }
  p {
    color: #555;
    width: 380px;
    height: 38px;
    margin: 8px 0;
    line-height: 1.25;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  a {
    color: #3B185F;
    text-decoration: none;
    transition: all 350ms linear;
    visibility: hidden;
    &:hover {
      color: #449CC5;
      border-bottom: 1px dotted #47A8F2;
    }
  }
}

.cards {

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: auto;

  grid-gap: 1rem;

  }

.card {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
  max-width: 300px;

  }

  .card img {
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
    vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// img {
//   height: auto;
//   max-width: 100%;
//   vertical-align: middle;
// }

// .cards {
//   display: flex;
//   flex-wrap: wrap;
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: grid;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
    display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}

.card__title {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
